{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    The best cars in the internet!
{% endblock %}
{% block body %}
    <h1>Our offer</h1>
    <table class="table">
        <tr>
            <th>Make</th>
            <th>Name</th>
            <th>Year</th>
            <th>Details</th>
        </tr>
        {% for car in cars %}
            <tr>
                <td>{{ car.make.name }}</td>
                <td>{{ car.model.name }}</td>
                <td>{{ car.year | date("m/d/Y", "Europe/Paris") }}</td>
                <td><a href={{ url('show_car', {id: car.id}) }} >Show details</a>
            </tr>
        {% endfor %}
    </table>
{% endblock %}