{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    The best cars in the internet!
{% endblock %}
{% block body %}

              <ul>
                  <li>{{ car.make.name }}</li>
                  <li>{{ car.model.name }}</li>
                  <li>{{ car.year | date("m/d/Y", "Europe/Paris") }}</li>
                  <li>
                      <p> {{ car.description }}</p>
                  </li>
                  <li>
                      <p> {{ car.price }}</p>
                  </li>
              </ul>
                <a href="{{ url('offer') }}">Back</a>
            asdfasdf
            asdfasdfad
            asdfasdfafds

{% endblock %}